<!DOCTYPE html>
<html lang="ru">
<head>

    <title>Баланс</title>
</head>
<body>
<div id="balanceContainer"></div>
<button id="goBack" onclick="goBack()">Назад</button>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('/transactions/stats/balance', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (response.ok) {
                document.open();
                document.write(await response.text());
                document.close();
                history.pushState({}, '', '/transactions/stats/balance');
            } else {
                localStorage.removeItem('token');
                window.location.href = '/login';
            }
        } catch (error) {
            localStorage.removeItem('token');
            window.location.href = '/login';
        }
    });

    window.onload = function () {
        const token = localStorage.getItem('token');
        fetch('/transactions/stats/get/balance', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }
        })
            .then(response => {
                if (!response.ok) {
                    document.getElementById("balanceContainer").textContent = "Ошибка загрузки";
                }
                return response.json();
            })
            .then(data => {
                if (data.message !== null && data.message !== "") {
                    document.getElementById("balanceContainer").textContent = data.message;
                } else {
                    document.getElementById("balanceContainer").textContent = "Ваш баланс: " + Number(data.balance).toFixed(2) + " руб.";
                }
            })
            .catch(error => {
                if (error.message !== null && error.message !== "") {
                    document.getElementById("balanceContainer").textContent = error.message;
                } else {
                    document.getElementById("balanceContainer").textContent = "Ошибка при загрузке транзакций";
                }
            });
    };

    async function goBack() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('/transactions/stats/home', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (response.ok) {
                document.open();
                document.write(await response.text());
                document.close();
                history.pushState({}, '', '/transactions/stats/home');
            } else {
                localStorage.removeItem('token');
                window.location.href = '/login';
            }
        } catch (error) {
            localStorage.removeItem('token');
            window.location.href = '/login';
        }
    }
</script>
</body>
</html>