<!DOCTYPE html>
<html lang="ru">
<head>

    <title>Проверить месячный бюджет</title>
</head>
<body>
<div id="stateContainer"></div>
<button id="goBack" onclick="goBack()">Назад</button>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('/transactions/stats/monthlyBudget/status', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (response.ok) {
                document.open();
                document.write(await response.text());
                document.close();
                history.pushState({}, '', '/transactions/stats/monthlyBudget/status');
            } else {
                localStorage.removeItem('token');
                window.location.href = '/login';
            }
        } catch (error) {
            localStorage.removeItem('token');
            window.location.href = '/login';
        }
    });

    window.onload = function () {
        const token = localStorage.getItem('token');
        fetch('/transactions/stats/monthlyBudget/get/status', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }
        })
            .then(response => {
                if (!response.ok) {
                    document.getElementById("stateContainer").textContent = "Ошибка при загрузке транзакций";
                }
                return response.json();
            })
            .then(data => {
                const budgetState = data.status;
                const monthlyBudget = data.value;
                if (monthlyBudget === 0.0) {
                    document.getElementById("stateContainer").textContent = "Вы еще не установили месячный бюджет!";
                } else {
                    if (budgetState === 0.0) {
                        document.getElementById("stateContainer").textContent = "Внимание! Ваш остаток на месяц: 0 руб.";
                    } else if (budgetState > 0.0) {
                        document.getElementById("stateContainer").textContent = "Ваш остаток на месяц: " + Number(budgetState).toFixed(2) + " руб.";
                    } else {
                        document.getElementById("stateContainer").textContent = "Вы превысили месячный бюджет на " + Number(-budgetState).toFixed(2) + " руб!";
                    }
                }
            })
            .catch(error => {
                if (error.message !== null || error.message !== "") {
                    document.getElementById("stateContainer").textContent = error.message;
                } else {
                    document.getElementById("stateContainer").textContent = "Ошибка при загрузке транзакций";
                }
            });
    };

    async function goBack() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('/transactions/stats/monthlyBudget', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (response.ok) {
                document.open();
                document.write(await response.text());
                document.close();
                history.pushState({}, '', '/transactions/stats/monthlyBudget');
            } else {
                localStorage.removeItem('token');
                window.location.href = '/login';
            }
        } catch (error) {
            localStorage.removeItem('token');
            window.location.href = '/login';
        }
    }
</script>
</body>
</html>