<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Личный кабинет</title>
</head>
<body>
<p>
    <span th:text="${username}"/>, что хотите сделать?
</p>
<div>
    <button id="accountUpdate" onclick="window.location.href='/profile/update'">Изменить личную информацию</button>
</div>
<div>
    <button id="deleteAccount" onclick="window.location.href='/profile/delete'">Удалить аккаунт</button>
</div>
<div>
    <button id="goBack" onclick="window.location.href='/home'">Назад</button>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (!localStorage.getItem('token')) {
            window.location.href = '/login';
        }
    });
</script>
</body>
</html>
