<!DOCTYPE html>
<html lang="ru">
<head>

    <title>Регистрация</title>
</head>
<body>
<h1>
    Регистрация
</h1>
<form action="/signup" id="signupForm">
    <div>
        <label> Имя пользователя:
            <input id="formName" maxlength="50" minlength="2" name="name" type="text">
        </label>
    </div>
    <div>
        <label> Адрес электронной почты:
            <input id="formEmail" maxlength="100" minlength="5" name="email" type="email">
        </label>
    </div>
    <div>
        <label> Пароль:
            <input id="formPassword" maxlength="128" minlength="8" name="password" type="password">
        </label>
    </div>
    <div>
        <label> Повторите пароль:
            <input id="formRepeatPassword" name="repeatedPassword" type="password">
        </label>
    </div>

    <button id="sendData" type="submit">Зарегистрироваться</button>
    <button id="goBack" onclick="window.location.href='../../../webapp'">Назад</button>
</form>
<div>
    <p id="stateMessage"></p>
</div>

<script>
    document.getElementById("sendData").addEventListener("click", function (event) {
        event.preventDefault();
        sendJSON();
    });

    function sendJSON() {

        if (document.getElementById("formPassword").value !== document.getElementById("formRepeatPassword").value) {
            document.getElementById("stateMessage").innerText = "Пароли не совпадают!";
            return;
        }


        const result = {};

        result["name"] = document.getElementById("formName").value;
        result["email"] = document.getElementById("formEmail").value;
        result["password"] = document.getElementById("formPassword").value;

        const jsonString = JSON.stringify(result);

        fetch('/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            },
            body: jsonString
        }).then(response => {
            return response.json();
        }).then(data => {
            document.getElementById("stateMessage").innerText = data.message;
        })
    }
</script>
</body>
</html>
